//region VARIABLES
$text-main: "Lato", sans-serif;
$text-describe: "Roboto", sans-serif;
$text-title: "DM Sans", sans-serif;

$clr-title: rgba(208, 79, 79, 1);
$clr-dark: rgba(0, 0, 0, 1);
$clr-white: rgba(255, 255, 255, 1);
$clr-lightgray: rgba(231, 231, 231, 1);
$clr-darkgray: rgba(199, 190, 190, 1);
$clr-blue: rgba(50, 130, 247, 1);
$clr-green: rgba(104, 217, 164, 1);
$clr-orange: rgba(237, 100, 84, 1);
//endregion

//region BASE
*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
}

:root {
  scroll-behavior: smooth;
}

ul,
li {
  list-style: none;
}

header,
main {
  padding-inline: 7%;
}

//endregion

//region mixins
@mixin filter() {
  font-family: $text-main;
  color: $clr-white;
  font-weight: bold;
  padding: 10px 15px;
  border-radius: 5px;
  display: block;
}

//endregion

//region Header
header {
  z-index: 999;
  display: flex;
  align-items: center;
  flex-flow: column nowrap;
  justify-content: center;
  width: 100%;
  padding-top: 50px;
  row-gap: 5px;

  h1 {
    font-family: $text-title;
    font-weight: bold;
    color: $clr-title;
  }

  nav {
    display: flex;
    align-content: start;
    flex-flow: nowrap column;
    justify-content: space-evenly;
    width: 100%;
    row-gap: 15px;

    label {
      position: relative;
      display: block;
    }
  }
}

//region Search bar
.searchBar {
  font-size: 18px;
  width: 100%;
  height: 65px;
  padding: 15px;
  border: none;
  border-radius: 2px;
  background-color: $clr-lightgray;

  &::placeholder {
    color: $clr-darkgray;
  }

  + span {
    font-size: 30px;
    position: absolute;
    top: 15px;
    right: 20px;
  }
}

//endregion

//region tags
.tagsWrapper {
  display: flex;
  flex-flow: row wrap;
  column-gap: 15px;
}

.tag {
  @include filter();
  font-size: 14px;

  &[data-tag="ingredients"] {
    background-color: $clr-blue;
  }

  &[data-tag="appareils"] {
    background-color: $clr-green;
  }

  &[data-tag="ustensiles"] {
    background-color: $clr-orange;
  }

  span {
    font-size: 18px;
    margin-left: 5px;
  }
}

//endregion

//region Filtres
.filtres {
  display: flex;
  flex-flow: row wrap;
  gap: 15px;

  .fa-chevron-down {
    position: absolute;
    top: 20px;
    right: 10px;
    transition: rotate 450ms ease-in-out;
  }

  &__filtre {
    @include filter();
    z-index: 999;
    position: relative;

    &--ingredient,
    &--ingredient button {
      background-color: $clr-blue;
    }

    &--appareil,
    &--appareil button {
      background-color: $clr-green;
    }

    &--ustensile,
    &--ustensile button {
      background-color: $clr-orange;
    }

    label {
      display: none;
    }

    li {
      visibility: visible;
      transition: opacity 300ms ease-in-out, visibility 200ms;
      cursor: pointer;
    }

    button {
      @include filter();
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      border: none;
      cursor: pointer;
    }

    &[data-open="true"] {
      width: 600px;
      transition: all 350ms ease-in-out;
      height: fit-content;

      button {
        visibility: hidden;
      }

      .fa-chevron-down {
        rotate: 180deg;
      }

      .searchFiltre {
        display: block;
        width: 80%;
        color: $clr-white;
        border: none;
        background-color: rgba(0, 0, 0, 0);

        &::placeholder {
          font-size: 16px;
          color: $clr-lightgray;
        }
      }

      ul {
        display: grid;
        margin-top: 15px;
        grid-template-columns: repeat(3, 1fr);
        gap: 15px 30px;
      }
    }

    &[data-open="false"] {
      display: flex;
      align-content: center;
      flex-flow: row nowrap;
      justify-content: space-between;
      width: 170px;
      height: 60px;
      padding: 20px;

      transition: all 350ms ease-in-out;

      button {
        font-size: 18px;
        visibility: visible;
      }

      .searchFiltre,
      ul {
        display: none;

        li {
          opacity: 0;
        }
      }
    }
  }
}

//endregion
//endregion

//region cards Recettes
main {
  z-index: 0;
  position: absolute;
  top: 380px;
}

.container {
  display: grid;
  width: calc(100vw - 14vw);
  height: 100%;
  grid-template-columns: repeat(3, 1fr);
  margin-block: 20px;
  gap: 50px;
}

.recette {
  overflow: hidden;
  width: 380px;
  height: 365px;
  border-radius: 5px;

  header {
    height: 50%;
    background-color: $clr-darkgray;
  }

  &__body {
    height: 50%;
    position: relative;
    display: flex;
    align-items: start;
    flex-flow: row wrap;
    justify-content: space-between;
    padding: 20px;
    background-color: $clr-lightgray;
  }

  &__title {
    display: flex;
    align-items: start;
    flex-flow: row wrap;
    justify-content: space-between;
    width: 100%;
    row-gap: 10px;

    h3 {
      font-family: $text-main;
      font-size: 18px;
      font-weight: normal;
      flex-basis: 75%;

      + p {
        font-family: $text-main;
        font-size: 18px;
        font-weight: bold;

        span {
          margin-right: 5px;
        }
      }
    }
  }

  &__informations {
    display: flex;
    align-items: flex-start;
    flex-flow: row nowrap;
    justify-content: space-between;
  }

  &__ingredients {
    flex-basis: 40%;

    li {
      font-size: 12px;

      .key {
        font-weight: bold;
      }

      .value {
        font-weight: normal;
      }
    }
  }

  &__description {
    font-family: $text-describe;
    font-size: 12px;
    display: -webkit-box !important;
    overflow: hidden;
    flex-basis: 50%;
    white-space: normal;
    text-overflow: ellipsis;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
  }
}

//endregion
