//region VARIABLES
$text-main: "Lato", sans-serif;
$text-describe: "Roboto", sans-serif;
$text-title: "DM Sans", sans-serif;

$clr-title: rgba(208, 79, 79, 1);
$clr-dark: rgba(0, 0, 0, 1);
$clr-white: rgba(255, 255, 255, 1);
$clr-lightgray: rgba(231, 231, 231, 1);
$clr-darkgray: rgba(199, 190, 190, 1);
$clr-blue: rgba(50, 130, 247, 1);
$clr-green: rgba(104, 217, 164, 1);
$clr-orange: rgba(237, 100, 84, 1);

$marges: 5vw;
//endregion

//region BASE
*,
*:before,
*:after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	list-style: none;
}

:root {
	scroll-behavior: smooth;
}

ul,
li {
	list-style: none;
}

body {
	//overflow-x: hidden;
	//overflow-y: hidden;

	&[data-filtre-is-open="true"] {
		//overflow-y: visible;
	}

	&[data-filtre-is-open="false"] {
		//overflow-y: hidden;
	}
}

main {
	//height: calc(100vh - 380px);
	overflow-x: hidden;
	//overflow-y: scroll;
	//box-sizing: content-box;
	//padding-right: 200px;
	position: relative;
	z-index: -5;
	top: 20px;
	margin-inline: $marges;
	//padding-top: 20px;
	width: calc(100% - $marges * 2);
	//padding-left: $marges;

	&::-webkit-scrollbar {
		opacity: 0;
	}

	&[data-filtre-is-open="true"] {
		height: 1500px;
	}
}

//endregion
// region animation

@keyframes shake {
	5% {
		transform: translateX(-10px);
	}
	25% {
		transform: translateX(8px);
	}
	50% {
		transform: translateX(-8px);
	}
	75% {
		transform: translateX(5px);
	}
	95% {
		transform: translateX(-2px);
	}
}

// endregion
//region mixins
@mixin filter() {
	font-family: $text-main;
	color: $clr-white;
	font-weight: bold;
	padding: 10px 15px;
	border-radius: 5px;
	display: block;
}

@mixin userFeedBack {
	&[data-has-results="true"] {
		$color-true: #028202;
		outline-color: $color-true;
		color: $color-true;
	}

	&[data-has-results="false"] {
		$color-false: #8b0101;
		outline-color: $color-false;
		color: $color-false;
		animation: shake 280ms ease-in-out;
	}
}

@mixin filterItems {
	&[data-hidden="true"] {
		position: absolute;
		z-index: -999;
		right: 0;
		bottom: 0;
		visibility: hidden;
	}

	&[data-hidden="false"] {
		position: relative;
		z-index: initial;
		top: initial;
		left: initial;
		visibility: visible;
	}
}

//endregion

//region Header
body > header {
	z-index: 999;
	display: flex;
	align-items: center;
	flex-flow: column nowrap;
	justify-content: center;
	width: 100%;
	padding-top: 50px;
	row-gap: 5px;

	padding-inline: $marges;

	padding-bottom: 60px;
	//overflow: hidden;

	h1 {
		font-family: $text-title;
		font-weight: bold;
		color: $clr-title;
	}

	nav {
		display: flex;
		align-content: start;
		flex-flow: nowrap column;
		justify-content: space-evenly;
		width: 100%;
		row-gap: 15px;

		label {
			display: none;
		}

		div {
			position: relative;
			display: block;
		}
	}
}

//region Search bar
.searchBar {
	font-size: 18px;
	width: 100%;
	height: 65px;
	padding: 15px;
	border: none;
	border-radius: 2px;
	background-color: $clr-lightgray;

	@include userFeedBack;

	&::placeholder {
		color: $clr-darkgray;
	}

	+ span {
		font-size: 30px;
		position: absolute;
		top: 15px;
		right: 20px;
		transition: color ease-in-out 250ms;
	}

	&:focus-visible + span {
		color: gray;
	}
}

//endregion

//region tags
.tagsWrapper {
	display: flex;
	flex-flow: row wrap;
	column-gap: 15px;
}

.tag {
	@include filter();
	display: flex;
	justify-content: space-between;

	&[data-tag="ingredients"] {
		background-color: $clr-blue;
	}

	&[data-tag="appliance"] {
		background-color: $clr-green;
	}

	&[data-tag="ustensiles"] {
		background-color: $clr-orange;
	}

	&__text {
		font-size: 14px;
		color: $clr-white;
	}

	&__btn {
		margin-left: 5px;
		border: none;
		background: none;

		&:hover {
			cursor: pointer;
		}

		.icon {
			font-size: 18px;
			color: $clr-white;
		}
	}
}

//endregion

//region Filtres
.filtres {
	display: flex;
	flex-flow: row wrap;
	gap: 15px;
	contain: size;

	.fa-chevron-down {
		position: absolute;
		top: 20px;
		right: 10px;
		transition: rotate 450ms ease-in-out;
	}

	&__filtre {
		@include filter();
		position: relative;
		z-index: 999;

		&--ingredient,
		&--ingredient button {
			background-color: $clr-blue;
			color: white;
		}

		&--appareil,
		&--appareil button {
			background-color: $clr-green;
			color: white;
		}

		&--ustensile,
		&--ustensile button {
			background-color: $clr-orange;
			color: white;
		}

		label {
			display: none;
		}

		.filtres__button {
			@include filter();
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			cursor: pointer;
			border: none;
			padding-left: 25px;
			text-align: left;
		}

		li {
			visibility: hidden;

			button {
				opacity: 100%;
				width: 100%;
				padding: 5px 5px;
				cursor: pointer;
				border: 1px solid rgba(255, 255, 255, 0);
				border-radius: 3px;
				transition: opacity ease-in 650ms;
				font-family: $text-main;
				font-weight: normal;
				font-size: 16px;
				text-align: left;

				&:disabled {
					color: #c3c1c1;
					cursor: no-drop;

					&:hover {
						border-color: initial;
						background: initial;
					}
				}

				&:hover {
					border-color: rgba(255, 255, 255, 0.5);
					background: rgba(255, 255, 255, 0.15);
				}

				@include filterItems();
			}
		}

		&[data-open="true"] {
			width: 600px;
			height: fit-content;
			transition: all 350ms ease-in-out;

			.filtres__button {
				visibility: hidden;
			}

			.fa-chevron-down {
				rotate: 180deg;
			}

			.searchFiltre {
				display: block;
				width: 80%;
				color: $clr-white;
				border: none;
				background-color: rgba(0, 0, 0, 0);
				padding: 10px 5px;
				font-size: 16px;

				&::placeholder {
					font-size: 16px;
					color: $clr-lightgray;
				}
			}

			ul {
				display: grid;
				margin-top: 15px;
				grid-template-columns: repeat(3, 1fr);
				gap: 0 15px;

				li {
					visibility: visible;

					&[data-visible="false"] {
						visibility: hidden;
						position: absolute;
						top: 0;
						left: 0;
					}

					&[data-visible="true"] {
						visibility: visible;
					}
				}
			}
		}

		&[data-open="false"] {
			display: flex;
			align-content: center;
			flex-flow: row nowrap;
			justify-content: space-between;
			width: 170px;
			height: 60px;
			padding: 20px;

			transition: all 350ms ease-in-out;

			.filtres__button {
				font-size: 18px;
				visibility: visible;
			}

			.searchFiltre,
			ul {
				//display: none;

				li button {
					opacity: 0;
					transition: opacity cubic-bezier(0, 0.68, 0, 1.04) 250ms;
				}
			}
		}
	}
}

//endregion
//endregion

//region cards Recettes

.container {
	display: grid;
	width: 100%;
	//height: 100%;
	margin-block: 20px;
	gap: calc($marges / 2);
	grid-template-columns: repeat(1, 1fr);
	@media screen and (min-width: 750px) {
		grid-template-columns: repeat(2, 1fr);
	}
	@media screen and (min-width: 1200px) {
		grid-template-columns: repeat(3, 1fr);
	}
	@media screen and (min-width: 1900px) {
		grid-template-columns: repeat(4, 1fr);
	}
}

.recette {
	overflow: hidden;
	//width: 380px;
	width: 100%;
	height: 365px;
	border-radius: 5px;
	@include filterItems();

	header {
		height: 50%;
		background-color: $clr-darkgray;
	}

	&__body {
		position: relative;
		display: flex;
		align-items: start;
		flex-flow: row wrap;
		justify-content: space-between;
		height: 50%;
		padding: 20px;
		background-color: $clr-lightgray;
	}

	&__title {
		display: flex;
		align-items: start;
		flex-flow: row wrap;
		justify-content: space-between;
		width: 100%;
		row-gap: 10px;

		h2 {
			font-family: $text-main;
			font-size: 18px;
			font-weight: normal;
			flex-basis: 75%;

			+ p {
				font-family: $text-main;
				font-size: 18px;
				font-weight: bold;

				span {
					margin-right: 5px;
				}
			}
		}
	}

	&__informations {
		display: flex;
		align-items: flex-start;
		flex-flow: row nowrap;
		justify-content: space-between;
	}

	&__ingredients {
		flex-basis: 40%;

		li {
			font-size: 12px;

			.key {
				font-weight: bold;
			}

			.value {
				font-weight: normal;
			}
		}
	}

	&__description {
		font-family: $text-describe;
		font-size: 12px;
		display: -webkit-box !important;
		overflow: hidden;
		flex-basis: 50%;
		white-space: normal;
		text-overflow: ellipsis;
		-webkit-line-clamp: 6;
		-webkit-box-orient: vertical;
	}

	&[data-visible="false"] {
		display: none;
		visibility: hidden;
		position: absolute;
		top: 0;
		left: 0;
	}

	&[data-visible="true"] {
		visibility: visible;
	}
}

//endregion
